/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Blog Articles */

article.type-post .entry-header{
	position: relative;
}

body.blog {
	.entry-title {
		background: $color_brand_main;
		position: absolute;
		top: 1.875em;
	 	a {	
			color: #fff;
		}
	}
	.entry-meta {
		background: $color_brand_main;
		color: #fff;
		position: absolute;
		top: 25em;
		right: 2em;
	}
}
