/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
	margin-top: 3rem;
	 ol li article.comment-body {	
		 margin: 2rem 0;
		 padding: 0 0 2rem 0;
		display: flex;
		border-bottom: 1px solid #e1e1e1;
			
	}
}

.comment-author-avatar {
	padding-right: 1.5rem;
	img {
		border-radius: 50%;
	}
}

.comment-metadata {
	padding: 1rem 0;
	color: #808080;
}
/* Blog Articles */

body.blog, body.single-post, body.archive:not(.tax-product-type) { 

article.type-post {
	
		.entry-header{
			position: relative;
			min-width: 640px;
		}
	}
}


	body.blog,
body.single-post,
body.archive:not(.tax-product-type):not(.post-type-archive-product) {

	h1 {
		color: #fff;
		font-weight: bold;
		font-size: 1.75em;
	}
	.entry-title {
		width: 500px;
		background: $color_brand_main;
		position: absolute;
		top: 1.75em;
			a {
				color: #fff;
				font-weight: bold;
				font-size: 1.75rem;
			}
	}
	.entry-meta{
		background: $color_brand_main;
		font-family: 'novecento-sans';
		color: #fff;
		position: absolute;
		bottom: 0.375em;
		right: 2em;
		a{
			color: #fff;
		}
	}

	.entry-footer {
		margin: 1rem 0;
	}
}
