/*--------------------------------------------------------------
# Forms

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	background: #f4f4f4;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	margin-top: 0.5rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
	margin-top: 0.5rem;
}

label {
	font-family: 'novecento-sans', sans-serif;
	text-transform: uppercase;
}

form.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	p {
		display: flex;
		flex-direction: column;
	}
}

p.comment-form-comment {
	width: 100%;
}

p.comment-form-author, p.comment-form-email {
	width: 49%;
}

p.comment-form-url {
	width: 100%;
	input[type="url"] {
		width: 100%;
	}
}

input.wpcf7-submit {
	@include btn-main;
	border-radius: 0;
}

input.submit {
	@include btn-main;
	border-radius: 0;
}
