/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color_brand_main;
	text-decoration: none;

	&:visited {
		color: $color_brand_main;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color_main_hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
	
.menu-header-container ul li a {
	padding: 15px 0 15px 30px;
	text-transform: uppercase;
}

.menu-container {
	width: auto;
	height: 50px;
	display: flex;
}
.search-bar {
	display: flex;
	align-items: center;
	form input{
		transition: all 0.2s ease-in;
		visibility: hidden;
		width: 0;
		border: none;
		background: transparent;
		&.show {
			visibility: visible;
			width: 200%;
		}
	}
}

input.search-input:focus{
		outline: none;
		border: none;
		box-shadow: none;
}

.main-navigation {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}	

.header-logo {
	height: 50px;
	width: 50px;
}

.site-header {
	z-index: 1000;
	width: 100%;
	position: fixed;
	height: 50px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.979) 0%,
	rgba(255, 255, 255, 0.8)
	);
	border-bottom: $border-main;
}

.header-container{
	display: flex;
	justify-content: space-between;
}

span.cat-links,
span.tags-links {
	padding-right: 10px;
	text-transform: uppercase;
	font-family: 'novecento-sans', sans-serif;
}

/* Buttons */

a.btn {
	@include btn-main;
	text-decoration: none;
	font-size: 1rem;
	font-family: 'novecento-sans', sans-serif;
	padding: 0.75em 1.5em;
}

button {
	border-radius: 0;
	text-transform: uppercase;
	@include btn-main;
}

.button-home-read-more {
	position: absolute;
	bottom: 15px;
	left: 15px;
	button {
		@include btn-alt;
	}
}

.btn-alt{
	@include btn-alt;
}

.btn-white {
	 @include btn-alt;
		color: #fff;
		border-color: #fff;
}

.search-submit {
	border: none;
	background: transparent;
	color: $color_brand_main;
	order: -1;
	&:hover {
		box-shadow: none;
		background: transparent;
	}
	&:focus{
			outline: none;
			box-shadow: none;
		border: 1px dotted #000;

	}
}
	
