/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.home-hero {
  height: 100vh;
}

.home-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), 
    url('../../images/home-hero.jpg');
  @include hero-image;
}

.home-shop-flex-wrapper {
  display: flex;
  justify-content: space-between;
  .shop-category {
    width: 23%;
    padding: $base__space-unit;
     &:hover {
      	border-color: $color_brand_secondary;
    }
    img {
      width: 75px;
    }
  }
}

.home-journal-title-wrapper{
  position: relative;
  height: 175px;
  padding: 15px;
}
.home-journal-flex-wrapper {
  display: flex;
  justify-content: space-between;

  article {
    width: 32%;
    text-align: left;

    .home-journal-image-wrapper{
      width: 100%;
      height: 15vw;
      overflow: hidden;
    }
  }
}

.home-adventures-grid-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-column-gap: 1.2rem;
  grid-row-gap: 0;

  article{
    margin: none;
  }
  article:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
    .home-adventures-image-container {
      width: 100%;
      height: 550px;
    }
  }
  article:nth-child(2n) {
    grid-column: 3 / span 2;
    grid-row: 1 / 2;
  }
   article:nth-child(3n) {
    grid-column-start: 3 / 4;
    grid-row-start: 2;
    a{
      font-size: 1.5rem;
    }
   }
    article:nth-child(4n) {
     grid-column: 4;
     grid-row: 2;
     a{
      font-size: 1.5rem;
     }
    }
}

.home-adventures-image-container {
  padding: 3rem 1.75rem;
  width: 100%;
  height: 262px;
  background-position: top;
  background-size: contain;
}

.home-adventures-container {
  text-align: left;
  display: flex;
  width: 100%;
  h2{
    margin-bottom: 1rem;
  }
 a {
   font-size: 2rem;
   color: #fff;
   &:hover {
     color: $color_link_hover;
   }
  }
}
div.adventure-button {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 1rem 0 3rem 0;
}


/* pages without hero image*/

body:not(.home):not(.page-template-about),
{
  .site-content{
    padding-top: 50px;
  }
}

/* Pages with sidebar area */
body:not(.home):not(.page-template-about):not(.single-product):not(.post-type-archive):not(.single-adventure) 
 {
    .site-content{
      display: flex;
      justify-content: space-between;
      max-width: 1120px;
      margin: 0 auto;
  }
  .content-area {
    width: 60%;
  }
}
.widget-area {
  width: 30%;
  padding-left: 3rem;
  border-left: 1px solid #c8c8c8;
}

/* About Page */

.page-template-about .entry-header {
  color: #fff;
  height: 100vh;
  .entry-title {
    font-size: 3em;
    font-weight: bold;
  }
}

.about-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-template-about .entry-content {
  max-width: 800px;
  margin: 3rem auto;
  h2 {
    text-align: center;
  }
}

/* Journal Archive */

.archive .page-header {
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 1.75rem;
  padding: 1.75rem 0;
}
/* Product Archive */

body.tax-product-type, body.post-type-archive-product{
  .product-type-title-wrapper {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3em;
    padding: 3em 0;
  }
  .product-type-block-wrapper {
    width: 10%;
  }
  .product-type-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80em;
    max-width: 1120px;
    
    article.type-product{
      flex-basis: 23%;
      max-width: 23%;
    
      .product-image-wrapper {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vw;

        img {
          max-height: 250px;
          max-width: none;
          width: auto;
        }
      }
    }
  }
}

.dots {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.product-name, .product-price {
  background: #fff;
  z-index: 10;
}

.product-meta {
  overflow: hidden;
  flex-wrap: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* Single Product Page */

body.single-product {
  article.type-product {
    padding: 2.5rem 0 4rem 0;
    display: flex;
  }
  .entry-content {
    width: 50%;
    margin: 0;
    padding: 0 2rem;
  }
  .single-product-title {
    margin-top: 0;
  }
  .single-product-price {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
}

/* Single Adventure */

.single-adventure .entry-header {
  color: #fff;
  height: 100vh;
  

}
.single-adventure {
    .entry-content {
      width: 800px;
      margin: 0 auto;
      .entry-title {
        margin: 3rem 0;
        font-size: 2em;
        font-weight: bold;
      }
    }
}

/* Adnventures Archive */

.adventure-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    width: 50%;
  }
}

.adventures-image-container {
  width: 97%;
  padding: 5rem 1.25rem;
}

.adventures-archive-container {
  width: 100%;
  text-align: left;
  display: flex;
  width: 100%;
  height: 500px;
  h2 {
    margin-bottom: 1rem;
    max-width: 400px;
  }
  a {
    font-size: 2rem;
    color: #fff;
    &:hover {
      color: $color_link_hover;
    }
  }
}