/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.home-hero {
  height: 100vh;
}

.home-hero-image {
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), 
    url('../../images/home-hero.jpg');
  @include hero-image;
}

.home-shop-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-category {
  @include solid-border;
  border-top-width: 5px;
  width: 23%;
  padding: $base__space-unit;
}

.do-icon {
  background: url('../../images/do.svg');
  @include shop-icon;
}

.eat-icon{
  background: url('../../images/eat.svg');    
  @include shop-icon;
}

.sleep-icon {
  background: url('../../images/sleep.svg');
   @include shop-icon;
}

.wear-icon {
  background: url('../../images/wear.svg');
   @include shop-icon;
}

.home-journal-title-wrapper{
  @include solid-border;
  position: relative;
  border-top-width: 5px;
  height: 175px;
}
.home-journal-flex-wrapper {
  display: flex;
  justify-content: space-between;

  article {
    width: 32%;
    text-align: left;

    .home-journal-image-wrapper{
      width: 100%;
      height: 15vw;
      overflow: hidden;
    }
  }
}

/* Pages with sidebar area */
  body:not(.home):not(.page-template-about) .site-content{
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 50px;
}

  body:not(.home):not(.page-template-about) .content-area {
  width: 60%;
}

.widget-area {
  width: 30%;
}

/* About Page */

.page-template-about .entry-header {
  color: #fff;
  height: 100vh;
  .entry-title {
    font-size: 3em;
    font-weight: bold;
  }
}

.about-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-template-about .entry-content h2 {
  text-align: center;
}

