/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.home-hero {
  height: 100vh;
}

.home-hero-image {
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), 
    url('../../images/home-hero.jpg');
  @include hero-image;
}

.home-shop-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-category {
  width: 23%;
  padding: $base__space-unit;
    img {
      width: 75px;
    } 
}

.home-journal-title-wrapper{
  position: relative;
  height: 175px;
  padding: 15px;
}
.home-journal-flex-wrapper {
  display: flex;
  justify-content: space-between;

  article {
    width: 32%;
    text-align: left;

    .home-journal-image-wrapper{
      width: 100%;
      height: 15vw;
      overflow: hidden;
    }
  }
}

/* Pages with sidebar area */
  body:not(.home):not(.page-template-about) .site-content{
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 50px;
}

  body:not(.home):not(.page-template-about) .content-area {
  width: 60%;
}

.widget-area {
  width: 30%;
}

/* About Page */

.page-template-about .entry-header {
  color: #fff;
  height: 100vh;
  .entry-title {
    font-size: 3em;
    font-weight: bold;
  }
}

.about-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-template-about .entry-content h2 {
  text-align: center;
}

/* Product Archive */

body.tax-product-type, body.post-type-archive-product{
  .product-type-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80em;
    max-width: 1120px;
    
    article.type-product{
      flex-basis: 23%;
      max-width: 23%;
    
      .product-image-wrapper {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vw;

        img {
          max-height: 250px;
          max-width: none;
          width: auto;
        }
      }
    }
  }
}

.dots {
  width: 100%;
  z-index: -1;
  position: absolute;
 
}

.product-name, .product-price {
  background: #fff;
  z-index: 10;
}

.product-meta {
  overflow: hidden;
  flex-wrap: none;
  display: flex;
  justify-content: space-between;
  // text-align: center;
  padding: 10px;
}
