/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Contact Info */

.widget .contact-info-field {
	display: flex;
}

span.widget-text {
	width: 60%;
	padding-left: 1.75rem;
}

/* Business Hours */

span.day-of-week {
	font-weight: bold;
}

/* Archives */

aside.widget.widget_archive ul {
	list-style: none;
	margin-left: none;
	padding-left: none;
}