/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Contact Info */

.widget .contact-info-field {
	display: flex;
}

.widget-title {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	letter-spacing: 2px;
}

span.widget-text {
	width: 80%;
}

.widget i {
	line-height: 1.75;
	padding: 0;
	margin-right: 0.5rem;
	width: 20px;
}

/* Business Hours */

span.day-of-week {
	font-weight: bold;
}

/* Archives */

.widget_archive .widget-title {
	margin-bottom: 1rem;
}

aside.widget.widget_archive ul {
	list-style: none;
	margin-left: none;
	padding-left: none;
	li {
		padding: 5px 0;
	}
}